.navbar {
    width: 100%;
    background-color: #303030;
    font-family: 'Lobster', cursive;
    color: white;
}
#logo {
    font-size: 2rem;
    font-family: 'Lobster', cursive;
    margin-right: 32px;
}
.navbar ul {
    margin: auto;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    
}

.navbar li {
    margin-right: 32px;
}

.active {
    font-weight: bold;
    color: white;
}

a {
    color: rgba(255, 255, 255, 0.815);
    text-decoration: none;
    margin-right: 16px;
}

li button {
    padding-left: 0;
    margin-left: -8px;
}
