<div class="navbar">
    <div class="row">
      <ul class="top-bar">
        <li id="logo">My Gigs</li>
      </ul>
    </div>
</div>
<div class="main-container">
  <div class="row">
      <ul class="top-bar">
          <li class="ml-auto"><button class="blue" mat-raised-button (click)="addJob()">Add</button></li>
          <li><button mat-raised-button>Recent</button></li>
          <li><button mat-raised-button>Other</button></li>
          <li><button mat-raised-button (click)="listView()">{{viewSetting}}</button></li>
        </ul>
  </div>
    <ul class="jobList" [class.list]="list === true">
      <li *ngFor="let job of jobs" (click)="openDetails(job)">
          <mat-card class="jobCard">
            <div class="row">
                <div class="col">
                    <img *ngIf="job.companyDomain" mat-card-avatar src="{{job.companyDomain}}">
                    <div *ngIf="!job.companyDomain" class="noLogo {{randomColor}}">
                      {{job.company.charAt(0)}}
                    </div>
                </div>
                <div class="col content">
                    <h2>{{job.company}}</h2>
                    <p>{{job.title}}</p>
                    <ul class="job-stats">
                      <li>
                        Contacts: {{job.contacts.length}}
                      </li>
                      <li>
                          Events: {{job.events.length}}
                      </li>
                      <li>
                          Tasks: {{job.todos.length}}
                      </li>
                    </ul>
                </div>
            </div>
            </mat-card>
      </li>
    </ul>
</div>
