<div class="body">
    <mat-progress-bar class="spinner" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
    <div class="row navbar">
      <ul class="top-bar">
        <li>My Gigs</li>
      <li class="ml-auto">
            <select (change)="sortJobsBy($event)" placeholder="Sort By">
                <option *ngFor="let option of sortBy" [value]="option.value">
                  {{ option.viewValue }}
                </option>
              </select>
      </li>
        <li>
          <button mat-button (click)="listView()">{{viewSetting}}</button>
        </li>
        <li>
            <button class="blue" mat-button (click)="addJob()">Add</button>
          </li>
      </ul>
    </div>
    <div *ngIf="serverError" class="error">
      <p>There seems to be an issue with our servers. Please try logging back in, or checking back later.</p>
    </div>
    <div class="main-container">
      <div class="no-jobs" *ngIf="(jobs == undefined || jobs.length == 0) && !isLoading">
        <h2>No gigs created. Click "Add" to get started!</h2>
      </div>
      <ul class="jobList" [class.list]="list === true">
        <li *ngFor="let job of jobs" (click)="openDetails(job)">
          <mat-card class="jobCard">
            <div class="row">
              <div class="col">
                <img *ngIf="job.companyDomain" mat-card-avatar src="{{job.companyDomain}}">
                <div *ngIf="!job.companyDomain" class="noLogo {{randomColor}}">
                  {{job.company.charAt(0)}}
                </div>
              </div>
              <div class="col content">
                <h2>{{job.company}}</h2>
                <p *ngIf="job.location">{{job.location}}</p>
                <h3>{{job.title}}</h3>
                <mat-divider [inset]="true" class="divider"></mat-divider>            
                <ul class="job-stats">
                  <li>
                    Tasks: {{job.todos.length}}
                  </li>
                  <li>
                    Contacts: {{job.contacts.length}}
                  </li>
                  <li>
                    Events: {{job.events.length}}
                  </li>
    
                </ul>
                <span *ngIf="getNearestTask(job)">
                        <mat-divider [inset]="true"></mat-divider>
                        <div  class="row">
                            <div class="col">
                                        <h5>Upcoming Task</h5>
                                    <p>{{getNearestTask(job).title}}</p>
                                    <span>Due: {{getNearestTask(job).date | date}}</span>
                            </div>
                        </div>
                </span>
                
              </div>
              <div class="col">
                <div class="date-added" *ngIf="job.dateAdded">
                    <p>Date added:</p>
                    <p>{{job.dateAdded | date}}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div></div>
              <app-color-picker></app-color-picker>
            </div>
          </mat-card>
        </li>
      </ul>
    </div>
    
    <div (click)="addJob()" class="fixed-action-button">
      Add Job
    </div>
    
</div>
