
<div class="flex-container main">
        <div class="col">

                        <h1>Gig Journal</h1>
                        <mat-card class="loginCard">
                                <mat-card-content class="cardContent">
                                    <div class="flex-container col">
                                                <h3 class="red" *ngIf="loginFailed" >
                                                Login Failed
                                                </h3>
                                                    <h3>Login to your account</h3>
                                                            <input name="username" type="text" [(ngModel)]="loginInfo.username" placeholder="username">
                                                            <input name="password" type="password" [(ngModel)]="loginInfo.password" placeholder="password">
                                                    <button mat-raised-button (click)="login()">Login</button>
                                                    <div class="row"><h3>Or</h3></div>
                                                    <div id="googleBtn"><button id="googleSignIn" mat-raised-button>Sign in with Google</button></div>
                                                    <a routerLink="/register">Don't have an account yet? Click here!</a>
                
                                    </div> 
                                    
                                </mat-card-content>  
                            </mat-card>
                        <div>
        </div>
                    
</div>
