<h2 mat-dialog-title>Add Event</h2>
<mat-dialog-content>
    <form [formGroup]="eventForm">
    <div class="flex-container col">
          <mat-form-field>
              <input matInput type="text" formControlName="title" placeholder="Event title">
            </mat-form-field>
              <mat-form-field>
                    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="When?">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput formControlName="time" type="time" placeholder="Time of day (optional)">
                  </mat-form-field>  

              <mat-form-field>
                <input matInput formControlName="description" placeholder="Details (optional)">
              </mat-form-field>
      </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="ml-auto" (click) = "saveEvent()">Save</button>
</mat-dialog-actions>
