.jumbotron {
    box-sizing: border-box;
    padding-left: 32px;
    padding-right: 32px;
    height: 460px;
    width: 100%;
    background-color: #303030;
    background: linear-gradient(to bottom right, #303030, #424242);
}

.jumbotron > div {
    display: flex;
    margin: auto;
    max-width: 1400px;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
} 

.jumbotron .col {
    width: 48%;
}

.jumbotron .col:nth-child(2) {
    height: 80%;
    margin-top: auto;
    background-image: url("../../assets/img/calendar.png"); 
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron button {
    margin-top: 16px;
    padding: 8px 32px 8px 32px;
    font-size: 1.5em;
    background: #6A1B9A;
    color: white;
}

.jumbotron h1 {
    color: white;
    font-size: 4em;
    font-weight: 400;
}
h2 {
    color: black;
    font-size: 2rem;
    margin-bottom: 16px;
}
.main p:nth-child(1) {
    font-size: 2rem;
    margin-bottom: 32px;
    max-width: 600px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.contact .col {
    width: 100%;
}

.flex-container > .row:nth-of-type(2) {
    margin-top: 64px;
}

.mat-card {
    background-color: #6A1B9A;
}

h4 {
    font-size: 1.3rem;
    margin-bottom: 8px;
}
h4 + p {
    line-height: 1.5;
    margin-bottom: 32px;
}
.flex-container {
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 40px;
    padding-bottom: 64px;
}

.row {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (min-width: 600px) {
    .row.main > .col {
        width: 30%;
    }
}
@media (max-width: 1000px) {
    .jumbotron .col:nth-child(2) {
        display: none;
    }

    .jumbotron .col:nth-child(1) {
        width: 100%;
    }

    .jumbotron {
        position: relative;
    }
    .body {
        margin-top: 0px !important;
    }
}

.body {
    min-height: 100%;
    width: 100%;
    background: white;

}
