<div class="jumbotron">
  <div>
    <h1>Organize your job hunt</h1>
    <button mat-raised-button (click)="goToJobs()" >Try it out!</button>
  </div>
</div>
<div class="body">
    <div class="flex-container main">
        <p>Gig Journal takes the stress out of keeping track of your professional endevours.</p>
        <div class="row">
            <div class="col">
                <h4>Applications</h4>
                <p>Anyone who is looking for jobs in today's market knows that the amount of jobs you apply for can get quickly out of hand. With Gig Journal, you can
                  keep track of what jobs you have applied for. In each job, you can have a list of tasks you need to complete 
                  (For example "Follow up on March 31st with Hiring Manager"), keep notes on important events like interviews, and have a list of contacts to keep
                  your leads organized.
                </p>
            </div>
            <div class="col">
                <h4>Freelancers</h4>
                <p>
                  In the "gig economy" of today, freelancers will quickly accumulate a handful of clients. Instead of having each client's info scattered
                  accross notebooks, phone contacts, and email contacts, keep track of your professional life with Gig Journal. You can create seperate modules for
                   each client, with tasks you may need to complete, important events, and contacts.
                </p>
            </div>
            <div class="col">
                <h4>Professionals</h4>
                <p>
                  Even if you aren't actively seeking a new job, Gig Journal can help you organize your professional network. Keep an entry for all of 
                  the businesses/clients you deal with, and no longer will you be scrambling for contact info when it comes time to reach a past client.
                </p>
            </div>
            
        </div>
        
      </div>      
</div>
