<h2 mat-dialog-title>Add Task</h2>
<mat-dialog-content>
    <form [formGroup]="todoForm">
    <div class="flex-container col">
          <mat-form-field>
              <input matInput type="text" formControlName="title" placeholder="What do you need to do?">
            </mat-form-field>
              <mat-form-field>
                    <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Date due?">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>

                  <mat-form-field>
                    <input matInput formControlName="time" type="time" placeholder="Time of Day? (optional)">
                  </mat-form-field>
                  
              <mat-form-field>
                <input matInput formControlName="description" placeholder="Details (optional)">
              </mat-form-field>
      </div>
    </form>

</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button class="ml-auto" (click)="saveTodo()">Save</button>
</mat-dialog-actions>
