
<div  *ngIf="job" class="navbar">
    <ul class="top-bar">
      <li id="logo">Gig details</li>
      <li class="ml-auto"><button mat-button (click)="deleteJob()">Delete Job</button></li>
    </ul>
    <div *ngIf="serverError" class="error">
      <p>There seems to be an issue with our servers. Please try logging back in, or trying again later.</p>
    </div>
    <div class="row title-row">
        <div class="col">
        </div>
        <div class="col">
            <img *ngIf="job.companyDomain" class="mat-card-avatar" src="{{job.companyDomain}}">
            <div *ngIf="!job.companyDomain" class="noLogo">
              {{job.company.charAt(0)}}
            </div>
          <h2 (click)="editJob()" *ngIf="!edit">{{job.company}}</h2>
          <input class="h2" type="text" *ngIf="edit" [(ngModel)]="job.company">
              <p (click)="editJob()" id="location" *ngIf="(job.location && !edit); else editLocation">{{job.location}}</p>
              <input type="text" *ngIf="edit" [(ngModel)]="job.location" placeholder="Location (optional)">
              <p (click)="editJob()" *ngIf="job.title && !edit">{{job.title}}</p>
              <input type="text" *ngIf="edit" [(ngModel)]="job.title" placeholder="Job title (optional)">
              <input type="text" *ngIf="edit" [(ngModel)]="job.dateAdded" placeholder="Date Added (optional)">
        </div>
        <div class="col">
            <span (click)="editJob()">
              <i *ngIf="!edit" class="fas fa-pencil-alt"></i>
              <i *ngIf="edit" class="far fa-save"></i>
            </span>
        </div>
    
      </div>
</div>
<div class="body">
    <div *ngIf="job" class="main-container">
        <div class="row">
          <div class="col content">
            <div>
              <div class="row">
                  <h3>Description</h3>
                  <button class="ml-auto" *ngIf="!isDescriptionEditing" (click)="editDescription()" mat-button>Edit</button>
              </div>
                <textarea *ngIf="isDescriptionEditing" type="text" [(ngModel)]="job.description" rows="5"></textarea>
                <p *ngIf="!isDescriptionEditing">{{job.description}}</p>
                <div class="save row"><button *ngIf="isDescriptionEditing" mat-raised-button class="ml-auto" (click)="editDescription()">Save</button></div>
            </div>
           
            
            <mat-divider class="divider"></mat-divider>
            <div class="row">
              <div class="col">
                <h3>Tasks ({{job.todos.length}})</h3>
              </div>
              <div class="col ml-auto">
                <button class="blue" mat-raised-button (click)="addTodo()">Add</button>
              </div>
            </div>

            <!-- In Progress Todos -->

            <ul *ngIf="inProgressTodos" class="task-list">
              <li *ngFor="let todo of inProgressTodos">
                <div class="row">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                          <mat-checkbox color="warn" (change)="checkTodo($event, todo)"></mat-checkbox>
                           <span class="large" [ngClass]="{'strike-through': todo.complete == 'true'}">{{todo.title}}</span>
                          </mat-panel-title>
                          <mat-panel-description *ngIf="dateValid(todo)" class="todo-date">
                            <span [ngClass]="pastDue(todo.date)">Due By: {{todo.date | date}}</span>    
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                          <div class="col">
                              <p>{{todo.description}}</p>
                          </div>
                        <div class="col ml-auto">
                            <button color="warn" mat-button (click)="deleteTodo(todo.id)">Delete</button>
                        </div>
                        </div>
                      </mat-expansion-panel>
                </div>
              </li>
            </ul>

            <!-- Completed Todos -->

            <ul *ngIf="completeTodos" class="task-list">
                <li *ngFor="let todo of completeTodos">
                  <div class="row">
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                            <mat-checkbox checked="true" color="blue" (change)="checkTodo($event, todo)"></mat-checkbox>
                             <span class="large" [ngClass]="{'strike-through': todo.complete}">{{todo.title}}</span>
                            </mat-panel-title>
                            <mat-panel-description [ngClass]="{'strike-through': todo.complete == 'true'}" class="todo-date">
                              Due By: {{todo.date | date}}
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col">
                                <p>{{todo.description}}</p>
                            </div>
                          <div class="col ml-auto">
                              <button color="warn" mat-button (click)="deleteTodo(todo.id)">Delete</button>
                          </div>
                          </div>
                        </mat-expansion-panel>
                  </div>
                </li>
              </ul>

            <div class="row mt-5">
              <div class="col">
                <h3>Events ({{job.events.length}})</h3>
              </div>
              <div class="col ml-auto">
                <button class="blue" mat-raised-button (click)="addEvent()">Add</button>
              </div>
            </div>
            <ul *ngIf="events" class="task-list">
                <li *ngFor="let event of events">
                  <div class="row">
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                             <span class="large">{{event.title}}</span>
                            </mat-panel-title>
                            <mat-panel-description class="todo-date">
                              {{event.date | date}}
                            </mat-panel-description>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col">
                                <p>{{event.description}}</p>
                            </div>
                          <div class="col ml-auto">
                              <button color="warn" mat-button (click)="deleteEvent(event.id)">Delete</button>
                          </div>
                          </div>
                        </mat-expansion-panel>
                  </div>
                </li>
              </ul>
            <div class="row mt-5">
              <div class="col">
                  <h3>Contacts ({{job.contacts.length}})</h3>
              </div>
              <div class="col ml-auto">
                <button class="blue" mat-raised-button (click)="addContact()">Add</button>
              </div>
            </div>
            <ul *ngIf="contacts" class="task-list">
                <li *ngFor="let contact of contacts">
                  <div class="row">
                      <mat-expansion-panel>
                          <mat-expansion-panel-header>
                            <mat-panel-title>
                              <span class="large">{{contact.name}}</span>
                            </mat-panel-title>
                          </mat-expansion-panel-header>
                          <div class="row">
                            <div class="col">
                                <p *ngIf="contact.title">Position: {{contact.title}}</p>
                                <p *ngIf="contact.email">Email: {{contact.email}}</p>
                                <p *ngIf="contact.phone">Phone: {{contact.phone}}</p>
                            </div>
                          <div class="col ml-auto">
                              <button color="warn" mat-button (click)="deleteContact(contact.id)">Delete</button>
                          </div>
                          </div>
                        </mat-expansion-panel>
                  </div>
                </li>
              </ul>
            
          </div>
        </div>
  </div>
    
</div>
