
.body {
    background-color: #EEEEEE;
    width: 100%;
    min-height: 100%;
}

.top-bar button {
    margin-right: 32px;
    color: white;
}


.main-container {
    max-width: 900px;
    background: #EEEEEE;
}

@media (max-width: 600px) {
    .content {
        padding: 8px;
    }

    .main-container {
         padding: 8px;
    }

    .mat-expansion-panel {
        max-width: 100%;
        padding: 8px 0px 8px 0px !important;
    }
}
i {
    margin-left: 16px;
}
.title-row {
    display: flex;
    justify-content: center;
    color: white;
}
.title-row .col:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
    max-width: 800px;
}

textarea {
    width: 100%;
}

.title-row .col:nth-child(3) {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.save {
    margin-top: 8px;
    color: #6A1B9A;
}

.title-row .col:nth-child(3) span {
    padding: 16px;
}

.title-row .col:nth-child(3) span:hover {
    cursor: pointer;
}

.title-row input {
    font-size: 24px;
    font-weight: 300;
    color: #CCCCCC;
    background: 0;
    border: 0;
    border-bottom: 1px solid grey;
    text-align: center;
}

.strike-through .mat-checkbox-background {
    background-color: red !important;
}
.title-row .col h2 , h2 {
    font-size: 48px;
    font-weight: 400;
    color: white;
}

.title-row .col h2:hover {
    cursor: pointer;
}

.title-row .col p{
    font-size: 24px;
    font-weight: 300;
    color: #CCCCCC;
}

.title-row .col p:hover{
    cursor: pointer;
}

.mat-card-avatar {
    height: 72px;
    width: 72px;
    border-radius: 50%;
}
div.row {
    display: flex;
    flex-direction: row;
}
.task-list p {
    font-size: 1.1em;
    margin-bottom: 16px;
}
.content {
    padding-left: 16px;
    flex: 1;
    padding-top: 8px;
    max-width: 100%;
}

.noLogo {
    height: 72px;
    width: 72px;
    color: white;
    background-color: #6A1B9A;
    border-radius: 50%;
    text-align: center;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

h2 {
    font-size: 28px;
}
.mat-checkbox {
    margin-right: 16px;
}
h3 {
    font-size: 20px;
}

.mt-5 {
    margin-top: 48px;
}


.mat-expansion-panel p {
    padding-left: 40px;
}
.large {
    font-size: 1.2rem;
}
.mat-expansion-panel {
    padding: 16px;
    flex: 1;
    margin-top: 16px;
}
.todo-date {
    flex-grow: 0 !important;
}
.navbar {
    min-height: 72px;
    background: #303030;
}
.mat-divider.divider {
    margin-top: 16px !important;
    margin-bottom: 16px !important;
}

.item-title {
    font-size: 1.2rem;
}
.item-date {
    color: lightgrey;
    margin-left: 16px
}
.item-description {
    margin-left: 16px;
}

ul {
    padding-left: 0;
}

#logo {
    font-weight: 300;
    font-size: 20px;
    margin-left: 40px;
}