/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html {
    width: 100%;
    height: 100%;
}
body {
    background-color: #303030;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}
* {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
h2 {
    color: black;
}

.spinner {
    position: fixed !important;
    width: 100%;
    height: 8px;
    top: 72px;
}
.main-container {
    background: #fafafa;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 24px;
}
.mat-snackbar-container {
    background-color: #6A1B9A;
}
.center {
    text-align: center;
}
.elevation-6 {
    top: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 10;
    width: 100%;
-webkit-box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
box-shadow: 0 3px 5px -1px rgba(0,0,0,.2),0 6px 10px 0 rgba(0,0,0,.14),0 1px 18px 0 rgba(0,0,0,.12);
z-index: 6;
}
.red {
    font-weight: 400;
    color: #e74c3c !important;
}
.strike-through {
    text-decoration: line-through;
    color: grey;
}
button.blue {
    background: #6A1B9A;
    color: white;
}





ul {
    list-style-type: none;
    margin: 0;
}
#logo {
    margin-left: 16px;
    font-size: 1.5rem;
    color: white;
}
.ml-auto {
    margin-left: auto !important;
}

.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.col {
    flex-direction: column;
    align-items: start;
    align-content: start;
}

.m-auto {
    margin: auto;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group input {
    margin-bottom: 16px;
}