<div class="row">
    <mat-card class="mat-elevation-z16 purple">
      <div class="col">
          <p class="header">Contact</p>
          <div class="col">
              <div><p><span><i class="fas fa-address-card"></i></span>Peter Epsteen</p></div>
              <div><p><span><i class="fas fa-envelope"></i></span> <a href="mailto:peterepsteen@gmail.com">peterepsteen@gmail.com</a></p></div>
              <div><p><span><i class="fas fa-mouse-pointer"></i></span>peterepsteen.me</p></div>
              <div>
                <p><span><i class="fas fa-phone"></i></span>805-208-6930</p>
              </div>
          </div>
      </div>
    </mat-card>
    <mat-card class="email">
      <div class="col">
          <p class="header">Get In Touch</p>
          <input type="text" placeholder="Your Name">      
          <input type="text" placeholder="Your Email">
          <textarea name="" id="" rows="10" placeholder="Your Message"></textarea>
          <button mat-raised-button class="blue">Send!</button>      
      </div>
    </mat-card>
</div>
