.main-container {
    display: flex;
    padding-bottom: 72px;
    background-color: #e8e8e8;
}
h1 {
    font-weight: 400;
    font-size: 42px;
}
.mat-card.top {
    z-index: 5;
}
h2 {
    color: white;
    font-size: 64px;
}
h3 {
    font-size: 18px;
    color: white;
    font-weight: 400;
}

#date-col {
    padding: 0px 0px 0px 8px;
    display: flex;
    justify-content: center;
}
li h3 {
    font-size: 16px;
}
.task-details li p {
    color: white;
    padding-left: 0;
}

table {
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
td:hover {
    cursor: pointer;
}

table, td, tr {
    vertical-align: center;
    text-align: center;
    font-size: 20px;
}

.selected {
    background-color: #6A1B9A;
    color: white;
}

.grey {
    color: grey;
}
.selected .grey {
    color: white;
}
ul li {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    margin-left: -8px;
    padding-left: 8px;
}
.top-bar {
    box-sizing: border-box;
    padding: 8px 32px 8px 40px;
    margin: auto;
    flex: 1;
    background: #303030;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    height: 100%;
}
.body {
    background-color: #e8e8e8;
    width: 100%;
    min-height: 100%;
}
.navbar {
    height: 72px;
    background: #303030;
}

ul.tasks li {
    border-left: 3px solid #E1BEE7;
} 
ul.tasks li:hover {
    border-left: 12px solid #E1BEE7;
    font-weight: bold !important;
} 
ul.events li {
    border-left: 3px solid #AB47BC;
}
ul.events li:hover {
    border-left: 12px solid #AB47BC;
    font-weight: bold !important;
}

ul {
    list-style-type: disc;
    display: flex;
    flex-direction: column; 
    padding: 0px;
    margin-bottom: 16px;
}

ul a {
    text-decoration: none;
    color: white !important;
}


.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 16px;
}

#calendarCard h2 {
    color: lightgrey;
    font-weight: 200;
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
}

.month-row {
    margin-bottom: 0px;
}

.month-row + .row {
    margin-bottom: 0px;
}

.row.main {
    justify-content: center;
}

.row.main button {
    font-size: 3rem;
    color: lightgrey;
}
@media (min-width: 800px) {
    .row.main > .col:nth-child(1) {
        width: 33%;
        min-height: 100%;
    }
}

.task-details {
    background: linear-gradient(-45deg, #7B1FA2, #4A148C);
    /* background-color: #6A1B9A !important; */
    color: white;
    border-radius: 15px;
    display: flex;
    justify-content: flex-start;
}
.task-details > .col {
    padding-top: 48px;
    padding-left: 16px;
    width: 100%;
}

.divider {
    margin-bottom: 8px;
}
.task-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.task-dot {
    background-color: #E1BEE7;
    height: 8px;
    width: 8px;
    border-radius: 50%;
}



.green {
    background-color: #AB47BC;
}

.month-row {
    justify-content: center;
}


li p {
    padding-left: 8px;
}
.row.main .col:nth-child(2) {
    padding-top: 24px;
    padding-bottom: 24px;
}
.mat-card {
    min-height: 100%;
}
.row h1 {
    margin-left: 32px;
    margin-right: 32px;
}

#date-col h3:nth-child(1) {
    color: whitesmoke;
}

.col:nth-child(2) .mat-card {
    border-radius: 0px 10px 10px 0px;
}

#date-col h3:nth-child(2) {
    font-size: 2rem;
}

@media (max-width: 600px) {
    .row.main {
        flex-wrap: wrap-reverse;
    }

    .row.main > .col {
        width: 100%;
    }

    .row.main .col .mat-card {
        border-radius: 5px;
    }

    .row.main .col:nth-child(1) {
        margin-top: -32px;
    }
    td {
        padding: 8px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
    }
    table {
        margin: auto;
    }
    .main-container {
        padding-left: 8px;
        padding-right: 8px;
    }
}