
<div class="flex-container main">
    <mat-card class="loginCard">
            <mat-card-content class="cardContent">
                <div class="flex-container col">
                                <h3>Register</h3>
                                        <input name="username" type="text" [(ngModel)]="loginInfo.username" placeholder="Username">
                                        <input name="password" type="text" [(ngModel)]="loginInfo.password" placeholder="Password">
                                        <input name="password" type="text" [(ngModel)]="confirmPassword" placeholder="Confirm password">
                                <button mat-raised-button (click)="register()">Register</button>
                                <a routerLink="/login">Already Registered?</a>
                </div> 
                
            </mat-card-content>  
        </mat-card>
    <div>            
</div>
